<div class="login">
  <div class="login__left">
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
          <label for="txtEmail">Email</label>
          <input
            type="text"
            id="txtEmail"
            class="form-control"
            formControlName="email"
          />
        </div>

        <div class="controls">
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input
              type="password"
              id="txtPassword"
              class="form-control"
              formControlName="password"
            />
          </div>
        </div>

        <button class="btn-primary-bg btn-arrow" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <div class="login__right">
    <img src="assets/img/resources/login-woman.png" alt="BOCA" />
  </div>
</div>
